footer {
    text-align: center;
    padding: 30px 0;
    border-radius: 10% 10% 0 0;
    background-image: $secondary;
    position: fixed;
    width: 100%;
    bottom: 0;
    div {
        p {
            a {
                text-decoration: none;
                color: black;
                opacity: 1;
                transition: opacity 0.25s ease-in-out;
                &:hover {
                    opacity: 0.5;

                }
            }
        }
    }
}