header {
    padding: 60px 0;
    background-image: $secondary;
    border-radius: 0 0 10% 10%;
    div {
        display: flex;
        align-items: center;
        svg {
            width: 1.4rem;
            height: 1.4rem;
            margin-right: 4px;
        }
    }
}