main {
    padding: 40px 0;
    // height: 75vh;
    form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        textarea {
            resize: none;
            border: none;
            width: 80%;
            background-image: $secondary;
            margin-bottom: 40px;
            border-radius: 8px;
            padding: 7px;
        }
        button {
            padding: 30px 70px;
            border-radius: 8px;
            background-image: $secondary;
            transition: all 0.25s ease-in-out;
            border: none;
            color: black;
            filter: drop-shadow(2px 2px 2px black);
            &:hover, :focus {
                box-shadow: inset 0 0 0 3em #708090;
                color: white;
            }
        }
    }

    .resArea {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;

        h2{
            padding: 40px 0 0 0;
        }
        .resBubble {
            width: 80%;
            padding: 30px 25px;
            background-image: $secondary;
            border-radius: 8px;
            margin: 20px 0;
            filter: drop-shadow(3px 3px 3px #708090);
            p {
                padding: 15px 0;
                span {
                    font-weight: 700;
                }
            }
        }
    }

}